.card {
    padding: 0;
}

.card-body {
    background-color: #057AFC;
    color: white;
}

.card-text {
    font-size: small;
}

.card-title {
    font-size: large;
    font: bold;
}

h4.display-6 {
    font: bold;
    color:rgb(124, 124, 124);
}

header {
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
    font-size: xx-large;
}

.row {
    width: auto;
    margin-right: 0%;
}